In [53]:
import pandas as pd
import numpy as np
df=pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%203/data/teleCust1000t.csv')
df.head()
df.income=df.income.astype('int',copy=False)
df.head()
# df.describe()

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
0,2,13,44,1,9,64,4,5,0.0,0,2,1
1,3,11,33,1,7,136,5,5,0.0,0,6,4
2,3,68,52,1,24,116,1,29,0.0,1,2,3
3,2,33,33,0,12,33,2,0,0.0,1,1,1
4,2,23,30,1,9,30,1,2,0.0,0,4,3

Imagine a telecommunications provider has segmented its customer base by service usage patterns, categorizing the customers into four groups. If demographic data can be used to predict group membership, the company can customize offers for individual prospective customers. It is a classification problem. That is, given the dataset,  with predefined labels, we need to build a model to be used to predict class of a new or unknown case. 

The example focuses on using demographic data, such as region, age, and marital, to predict usage patterns. 

The target field, called **custcat**, has four possible values that correspond to the four customer groups, as follows:
  1- Basic Service
  2- E-Service
  3- Plus Service
  4- Total Service

**Hypothesis Test** <br>
1.H0:average age=50, H1: average age!=50 <br>
2.H0:average income>75, H1:average income<=75 <br>
3.H0:average tenure=35, H1:average tenure!=35 <br>
<br>
*Here we are going to do significance test on hypothesis 2 with a 95% confidence level*

In [74]:
import plotly.express as px
import math
import scipy.stats
income=df.income
px.box(income) #based on boxplot, we found some outliers, thus we decided to remove rows with income higher than 500#
df=df.loc[df.income<500,:]
px.box(df.income)
px.histogram(df.income)#based on histogram, the income data is positively skewed, thus we decided to use lognormal feature#
income2=df.income.copy()
income_final=income2.apply(math.log)
income_final

miu0=math.log(75)
miu0
px.histogram(income_final)
x_mean=income_final.mean()
x_std=income_final.std()
n=len(income_final)
#we assume that the lognormal income is normally distributed#
test_stat=(x_mean-miu0)/(x_std/math.sqrt(n))
test_stat
#based on the test_stat and z-table, we reject the null hypothesis, thus average income<=75#

-16.063192251880537

*In the next step, we will try to build linear regression model to predict the customer group based on their features as shown*